.vbo-browse-pager {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.vbo-browse-pager > span {
  display: table-cell;
  text-align: center;
}

.vbo-browse-pager > span > a {
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
}

.vbo-browse-pager > span > a[href] {
  font-weight: bold;
}

.vbo-browse-pager > span > a:not([href]) {
  color: lightgrey;
}

.vbo-browse-view-uri {
  padding-top: 5px;
  text-align: center;
}
